{{$response := newScratch}}

{{ $commentsToken := site.Params.NetlifyCommentsToken }}
{{ if and site.Params.NetlifyCommentForm $commentsToken }}

  {{ $url := printf "https://api.netlify.com/api/v1/forms/%s/submissions?access_token=%s" site.Params.NetlifyCommentForm $commentsToken }}
  {{ $remote := resources.GetRemote $url }}
  {{ $comments := $remote | transform.Unmarshal }}

  {{ range sort $comments "created_at" "asc" }}
    {{ if not ($response.Get .data.url) }}
      {{$response.Set .data.url (slice)}}
    {{ end }}
    {{$response.Add .data.url .data}}
  {{ end }}

{{ else }}
  {{/* Local/testing fallback: no comments fetched */}}
  {{/* Optionally, you can add dummy comments here for local development */}}
{{ end }}

{{ return $response.Values }}
