{{$response := newScratch}}
{{if and site.Params.NetlifyCommentForm (getenv "COMMENTS_TOKEN")}}

  {{ $url := printf "https://api.netlify.com/api/v1/forms/%s/submissions?access_token=%s" site.Params.NetlifyCommentForm (getenv "COMMENTS_TOKEN") }}
  {{ $remote := resources.GetRemote $url }}
  {{ $comments := $remote | transform.Unmarshal }}

  {{ range (sort $comments "created_at" "asc") }}
    {{if not ($response.Get .data.url)}}
      {{$response.Set .data.url (slice )}}
    {{end}}

    {{$response.Add .data.url .data}}
  {{ end }}
{{ end }}

{{return $response.Values}}